body {
    background-color: seashell;
}
a {
    color: #61683d;
}
#title {
    text-align: center;
    color: #61683d;
}
.caption {
    font-size: 15px;
    color: 
}
.align {
    padding-left: 35px;
}
.button {
    background-color: darkgray;
}